# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Compiled extensions
*.so

# =========================
# Virtual Environments
# =========================
venv/
.env/
env/

# =========================
# Distribution / packaging
# =========================
build/
dist/
*.egg-info/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints

# =========================
# IDEs & Editors
# =========================

# Visual Studio Code
.vscode/

# PyCharm
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
